<a href="https://colab.research.google.com/github/AdaobiNwafor/AddieesClassroom/blob/main/1_01_Arithmetic_Variables_and_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is Python?

Python is a programming language which is used to give computers instructions.
Python can be used to create games, create a website, make apps and much more.

# Introduction

We only have 3 weeks and so we are going to learn as much as we can so that we can finish up with a mini final project!

This week we are going to cover:
* Arithmetic (Operators)
* Print statements
* Variables
* Strings
* Lists
* Conditions (If & Else Statements)

!!PLEASE NOTE!!

If I am going too fast or you have any questions, please put your hand up. If I don't see you, you can shout my name to get my attention. 

After lessons, there will be questions/quizzes for you to make sure you get the topic well. 

**Also... 
Make sure you practice in your own time. Practice makes perfect!**

# Numbers

Numbers in Python work like numbers everywhere. Everything you have learned in Maths can be done in python too! 

You have whole numbers (integers), decimals (floats), negative numbers

In [ ]:
123

123

In [ ]:
4321234.56

4321234.567

In [ ]:
-1353

-1353

## Operators

In order to carry out basic maths, **operators** are needed. 

The operators needed are:
* (Addition) + 
* (Subtraction) - 
* (Multiplication) *
* (Division) /
* (Exponent) **
* (Modulus) %

Remember that BODMAS is still very important in basic math operations.

In [ ]:
43 + 7

50

In [ ]:
23 - 5

In [ ]:
5 * 4

In [ ]:
20 * 5

In [ ]:
30 / 10

In [ ]:
3 ** 2

In [ ]:
1200 / 5

In [ ]:
(4 * 20) / 10

In [ ]:
5 + (6 * 3) - 10

### Modulus

The modulus shows you the remainder of a division (%)

In [ ]:
# Divide 100 by 10



# What is the remainder?

In [ ]:
# Divide 100 by 6


#What is the remainder?

In [ ]:
# Now use the modulus to find the reaminder of 100 divided by 6

This works because 19 x 6 is 96. So the modulus shows you the remainder

# Variables

Variables are like labels. In python, this is a place to store information such as numbers, texts, lists, lists of numbers and texts etc.

For example, we are going to create a variable named fred. This is done using the equal sign (=). We can then decide what information fred will store.

To show the information that fred stores, we use a **print statement**. 
This is done by typing print() and inserting what we want to display inside the brackets.

In [ ]:
# Create the variable named fred

fred = 200

In [ ]:
print(fred)

It is possible to change the fred variable so that it stores something else.

In [ ]:
# Change the fred variable to 200 and print the statement

fred=500
print(fred)

More than one label (variable) can be used to store the same information

In [ ]:
fred = 200
john = fred

What do you think will show if we print 'john'?

In [ ]:
# Print john

print(john)

When naming variables it is important that they are as descriptive as possible and tell you as much as possible. If the name of your variable is getting too long, instead of using spaces, use an underscore (_).

For instance, multiply the values of fred and john and store that in a variable.

In [ ]:
# multiply fred and john and store it in a variable

In [ ]:
# Print fred_and_john. What do you think the output will be?

# Strings

Strings are just another word for text. To turn text into a string, they need to be within single (') or double quotes ("). 

Eg.` sentence = 'This is a string' `

To use speech marks within a string, use both types of quotes.

Eg. `line =  ' "The bus is runnning late" said Mark'`

As you can see, strings are always assgined to a variable

In [ ]:
fred = 'Why do gorillas have big nostrills?'

In [ ]:
# Print the statement
print(fred)

To use more than one line of text in your string (multiline string), use 3 single quotes  ( ' ' ' ) then hit ENTER between lines.

In [ ]:
fred = '''How do dinosaurs pay their bills?
With tyrannosaurus checks!! '''

# print this statement to see the output

## Adding and Multiplying Strings

> Indented block



Python lets you add and mutliply strings together. However, you cannot subtract or divide strings

In [ ]:
# What are the differences between the 3 strings 

'Hello' + 'World'
'Hello ' + 'World'
'Hello ' + ' World'

In [ ]:
# print all the different variations of hello world to see the difference

In [ ]:
# What are the differences between these two outputs 

one = 17 + 3
two = '17' + '3'

# What do you think will be the output for each of them?

In [ ]:
# print one and two

In [ ]:
'Hello' * 2

In [ ]:
'Hello ' * 5

In [ ]:
print(10 * 'abc ')

In [ ]:
'7' * 5

What is the difference between 

`2 + 5 `

and 

`'2' + '5'`

In [ ]:
print(2 + 5)
print('2' + '5')

In [ ]:
# What do you think the outcome will be. Will there be an error or not?

print('Hello')
print()
print('World')

## Inserting values in strings

If you want to display a message using the contents of a variable, you can embed the values using an **f-string and {}**

For example:

You have a python program that calculates and stores the number of points you scored in a game. You want to add the score to a string such as 'You scored ___ points', where your points are inserted.

In [ ]:
my_score = 1000
print(f'You scored {my_score} points!')

Putting the variable within curly brackets `{}` acts a placeholder, allowing you to easily insert a variable. Especially one that may constantly change.

In [ ]:
body_part_one = 'Knee'
body_part_two = 'Shin'
print(f'{body_part_one}: A device for finding furniture in the dark')
print(f'{body_part_two}: A device for finding furniture in the dark')

In [ ]:
body_part_one = 'Knee'
body_part_two = 'Shin'
furniture_one = 'chairs'
furniture_two = 'tables'

# How would you print statements that included both variables in the same sentence?

## Indexing and Slicing Strings

Indexing allows you to select individual letters in a string by using numbers. The first letter of any string is 0. The next is 1, and so on. The index of the last letter will be -1. 

![image.png]()

To find the letter, or group of letters within a string, the index number is put between square brackets [].

Ex.

Find the 4th letter in the word python 

```word = 'python'```

```# We know that the 4th letter in the word is 'h', however, when indexing, the first letter starts at 0. So P is 0. To get to H, we get 3. ```

```print(word[3])```

In [ ]:
# What is the index of the 3rd letter

text = 'python'

In [ ]:
# Find the 4th, 6th and 8th letter in the word

word = 'dodecathlon'

In [ ]:
# What index is the letter 'O' in this word

word = 'octagon'

In [ ]:
# Create a word and find the 2nd, 4th and 5th letters in that word

It is possible to get a group of words from a string. This is known as slicing. 

Specify the start index and final index separated by a colon within square brackets. 

```word = 'python'```

```print(word[2:5])```

output:
```tho```


**It is important to note** that the final index ***does not*** appear, and so in this example, **only the 3rd, 4th and 5th letter** of the word would be printed

If there is no start index stated, the slice will start from the first letter, 0. If there is no final index stated, the slice will continue to the final letter. 

Ex.

```word = 'python'```

```print(word[:2])```

output:
``` py ```

---
```print(word[3:])```

output: ```hon```

---
If there are no start or end indexes stated, then the whole word will be printed.

```print(word[:])```

output: ```python```

In [ ]:
word = 'hello'

# What do you think will be printed? 

print(word[:3])

In [ ]:
# Create a variable of the word 'california' and slice the word to print the word 'for'

In [ ]:
# Create a variable of the word 'racecar' and slice the word to print 'race'

In [ ]:
# Create a variable of the word 'racecar' and slice the word to print 'car'

In [ ]:
# Create a variable of the word 'garage' and slice the word to print 'rage'

# Challenges

## 1. Calculate the multiplication and sum of two numbers

Given two integers (whole numbers) return their product (multiplication) only if the product is equal to or lower than 100, else return their sum (addition).

* a) `x = 10  .... y = 4.5`
* b) `x = 5.2  .... y = 33`
* c) `x = 10.3 .... y = 25`
* d) `x = 4.5  .... y = 5.6`
* e) `x = 12.3  .... y = 10.2`

In [ ]:
# Example
# x = 10, y = 12

x = 10
y = 12 
product = x * y 
print(product)
print(f'x * y is {product}')
result = x + y 
print(result)
print(f'The result is {result} because x * y is {product} which is bigger than 100')

In [ ]:
# Answer to Challenge 1.

## 2. Print downward Half-Pyramid Pattern with the letter a

```a a a a a a
a a a a a
a a a a
a a a 
a a 
a

In [ ]:
# Answer to Challenge 2.

## 3. Create a string made of the first, middle and last name 

input:

first name, middle name, last name 

output:

full name 

---
Example

input:

Adaobi 
Ann-Marie
Nwafor

output: 

Adaobi Ann-Marie Nwafor

In [ ]:
# Answer to Challenge 3.

## 4. Create a string made of different letters in the string

* a) 'objections'   
(2nd, 6th, 8th)

* b) 'strawberry'   
(1st, 4th, 7th)

* c) 'friendship'   
(3rd, 5th, 6th)

* d) 'motivation'   
(4th, 7th, 9th)

* e) 'everything'   
(5th, 8th, 10th)

In [ ]:
# Answer to Challenge 4.